version: "3.8"
services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - s-network
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: Haidari369
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_DATABASE: shop
    ports:
      - "3308:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uadmin", "-padmin"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - s-network



networks:
  s-network:
    driver: bridge